# ==========================================
# 1. TERRAFORM - CHẶN STATE VÀ FILE NHẠY CẢM
# ==========================================
.terraform/
.terraform.lock.hcl

*.tfstate
*.tfstate.*

*.tfvars
*.tfvars.json

*.tflog

# ==========================================
# 2. ANSIBLE & ENVIRONMENT
# ==========================================
.env
.env.*
.envrc

*.retry
*.log

# ==========================================
# 3. KEYS & CERTS
# ==========================================
*.pem
*.key
*.pub
*.crt
kubeconfig
.kube/

# ==========================================
# 4. OS & IDE
# ==========================================
.vscode/
.DS_Store
Thumbs.db
