version: "3.8"

services:
  loki:
    image: grafana/loki:{{ loki_version }}
    container_name: loki
    restart: unless-stopped
    ports:
      - "3100:3100"
    volumes:
      - ./loki-config.yml:/etc/loki/loki-config.yml:ro
      - loki_data:/loki
    command: "-config.file=/etc/loki/loki-config.yml"

volumes:
  loki_data:
