aws_region  = "us-east-1"
aws_profile = "root-lab-2"
environment = "stg"

cluster_name = "eks-devops-stg"

node_instance_types = ["t3a.large"]
node_desired_size   = 2
node_min_size       = 2
node_max_size       = 4

app_image_repository = "nginx"
app_image_tag        = "alpine"
app_replicas         = 2
app_ingress_host     = ""
